<h1>La Croix Tastings</h1>

<div class="well">
  <ul class="nav nav-pills">
    {{#link-to 'la-croix.index' tagName="li"}}List all{{/link-to}}
    {{#link-to 'la-croix.new' tagName="li"}}Add new{{/link-to}}
  </ul>
</div>