<h1>La Croix Tastings</h1>

<div class="well">
  <ul class="nav nav-pills">
    {{#link-to 'la-croixs.index' tagName="li"}}<a href="">List all</a>{{/link-to}}
    {{#link-to 'la-croixs.new' tagName="li"}}<a href="">Add new</a>{{/link-to}}
  </ul>
</div>
{{outlet}}