<h1>La Croix Flavors</h1>

<div class="well">
  <ul class="nav nav-pills">
    {{#link-to 'la-croix-flavors.index' tagName="li"}}List all{{/link-to}}
    {{#link-to 'la-croix-flavors.new' tagName="li"}}Add new{{/link-to}}
  </ul>
</div>