<h2>Flavors</h2>

{{#each model as |flavor|}}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">{{flavor.flavor}}</h3>
    </div>
    <div class="panel-body">
      <p>User: {{flavor.description}}</p>
      <p>Notes: {{flavor.notes}}</p>
      <p>{{flavor.createdAt}}</p>
    </div>
  </div>
{{/each}}