<h2>Tastings</h2>

{{#each model as |tasting|}}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">{{tasting.laCroixName}}</h3>
    </div>
    <div class="panel-body">
      <p>User: {{tasting.user}}</p>
      <p>Notes: {{tasting.notes}}</p>
      <p>{{tasting.createdAt}}</p>
    </div>
  </div>
{{/each}}